# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/node_modules
frontend/node_modules/.package-lock.json
/frontend/node_modules/typescript
/frontend/node_modules
/frontend/node_modules
frontend/package-lock.json
frontend/node_modules/typescript/ThirdPartyNoticeText.txt
frontend/node_modules/typescript/SECURITY.md
frontend/node_modules/typescript/README.md
frontend/node_modules/typescript/package.json
frontend/node_modules/es-module-lexer/types/lexer.d.ts
frontend/node_modules/es-module-lexer/README.md
frontend/node_modules/es-module-lexer/package.json
frontend/node_modules/@restart/ui/esm/index.d.ts
frontend/node_modules/@restart/ui/esm/ImperativeTransition.js
frontend/node_modules/@restart/ui/esm/ImperativeTransition.d.ts
frontend/node_modules/@restart/ui/esm/getScrollbarWidth.js
frontend/node_modules/@restart/ui/esm/getScrollbarWidth.d.ts
frontend/node_modules/@restart/ui/esm/DropdownToggle.js
frontend/node_modules/@restart/ui/esm/DropdownToggle.d.ts
frontend/node_modules/@restart/ui/esm/DropdownMenu.js
frontend/node_modules/@restart/ui/esm/DropdownMenu.d.ts
frontend/node_modules/@restart/ui/esm/DropdownItem.js
frontend/node_modules/@restart/ui/esm/DropdownItem.d.ts
frontend/node_modules/@restart/ui/esm/DropdownContext.js
frontend/node_modules/@restart/ui/esm/DropdownContext.d.ts
frontend/node_modules/@restart/ui/esm/Dropdown.js
frontend/node_modules/@restart/ui/esm/Dropdown.d.ts
frontend/node_modules/@restart/ui/esm/DataKey.js
frontend/node_modules/@restart/ui/esm/DataKey.d.ts
frontend/node_modules/@restart/ui/esm/Button.js
frontend/node_modules/@restart/ui/esm/Button.d.ts
frontend/node_modules/@restart/ui/esm/Anchor.js
frontend/node_modules/@restart/ui/esm/Anchor.d.ts
frontend/node_modules/@restart/ui/DropdownToggle/package.json
frontend/node_modules/@restart/ui/DropdownMenu/package.json
frontend/node_modules/@restart/ui/DropdownItem/package.json
frontend/node_modules/@restart/ui/DropdownContext/package.json
frontend/node_modules/@restart/ui/Dropdown/package.json
frontend/node_modules/@restart/ui/DataKey/package.json
frontend/node_modules/@restart/ui/cjs/Waypoint.js
frontend/node_modules/@restart/ui/cjs/Waypoint.d.ts
frontend/node_modules/@restart/ui/cjs/utils.js
frontend/node_modules/@restart/ui/cjs/utils.d.ts
frontend/node_modules/@restart/ui/cjs/useWindow.js
frontend/node_modules/@restart/ui/cjs/useWindow.d.ts
frontend/node_modules/@restart/ui/cjs/useWaypoint.js
frontend/node_modules/@restart/ui/cjs/useWaypoint.d.ts
frontend/node_modules/@restart/ui/cjs/useWaitForDOMRef.js
frontend/node_modules/@restart/ui/cjs/useWaitForDOMRef.d.ts
frontend/node_modules/@restart/ui/cjs/useScrollParent.js
frontend/node_modules/@restart/ui/cjs/useScrollParent.d.ts
frontend/node_modules/@restart/ui/cjs/useRTGTransitionProps.js
frontend/node_modules/@restart/ui/cjs/useRTGTransitionProps.d.ts
frontend/node_modules/@restart/ui/cjs/useRootClose.js
frontend/node_modules/@restart/ui/cjs/useRootClose.d.ts
frontend/node_modules/@restart/ui/cjs/usePopper.js
frontend/node_modules/@restart/ui/cjs/usePopper.d.ts
frontend/node_modules/@restart/ui/cjs/useClickOutside.js
frontend/node_modules/@restart/ui/cjs/useClickOutside.d.ts
frontend/node_modules/@restart/ui/cjs/types.js
frontend/node_modules/@restart/ui/cjs/types.d.ts
frontend/node_modules/@restart/ui/cjs/Tabs.js
frontend/node_modules/@restart/ui/cjs/Tabs.d.ts
frontend/node_modules/@restart/ui/cjs/TabPanel.js
frontend/node_modules/@restart/ui/cjs/TabPanel.d.ts
frontend/node_modules/@restart/ui/cjs/TabContext.js
frontend/node_modules/@restart/ui/cjs/TabContext.d.ts
frontend/node_modules/@restart/ui/cjs/ssr.js
frontend/node_modules/@restart/ui/cjs/ssr.d.ts
frontend/node_modules/@restart/ui/cjs/SelectableContext.js
frontend/node_modules/@restart/ui/cjs/SelectableContext.d.ts
frontend/node_modules/@restart/ui/cjs/RTGTransition.js
frontend/node_modules/@restart/ui/cjs/RTGTransition.d.ts
frontend/node_modules/@restart/ui/cjs/Portal.js
frontend/node_modules/@restart/ui/cjs/Portal.d.ts
frontend/node_modules/@restart/ui/cjs/popper.js
frontend/node_modules/@restart/ui/cjs/popper.d.ts
frontend/node_modules/@restart/ui/cjs/Overlay.js
frontend/node_modules/@restart/ui/cjs/Overlay.d.ts
frontend/node_modules/@restart/ui/cjs/NoopTransition.js
frontend/node_modules/@restart/ui/cjs/NoopTransition.d.ts
frontend/node_modules/@restart/ui/cjs/NavItem.js
frontend/node_modules/@restart/ui/cjs/NavItem.d.ts
frontend/node_modules/@restart/ui/cjs/NavContext.js
frontend/node_modules/@restart/ui/cjs/NavContext.d.ts
frontend/node_modules/@restart/ui/cjs/Nav.js
frontend/node_modules/@restart/ui/cjs/Nav.d.ts
frontend/node_modules/@restart/ui/cjs/ModalManager.js
frontend/node_modules/@restart/ui/cjs/ModalManager.d.ts
frontend/node_modules/@restart/ui/cjs/Modal.js
frontend/node_modules/@restart/ui/cjs/Modal.d.ts
frontend/node_modules/@restart/ui/cjs/mergeOptionsWithPopperConfig.js
frontend/node_modules/@restart/ui/cjs/mergeOptionsWithPopperConfig.d.ts
frontend/node_modules/@restart/ui/cjs/index.js
frontend/node_modules/@restart/ui/cjs/index.d.ts
frontend/node_modules/@restart/ui/cjs/ImperativeTransition.js
frontend/node_modules/@restart/ui/cjs/ImperativeTransition.d.ts
frontend/node_modules/@restart/ui/cjs/getScrollbarWidth.js
frontend/node_modules/@restart/ui/cjs/getScrollbarWidth.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownToggle.js
frontend/node_modules/@restart/ui/cjs/DropdownToggle.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownMenu.js
frontend/node_modules/@restart/ui/cjs/DropdownMenu.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownItem.js
frontend/node_modules/@restart/ui/cjs/DropdownItem.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownContext.js
frontend/node_modules/@restart/ui/cjs/DropdownContext.d.ts
frontend/node_modules/@restart/ui/cjs/Dropdown.js
frontend/node_modules/@restart/ui/cjs/Dropdown.d.ts
frontend/node_modules/@restart/ui/cjs/DataKey.js
frontend/node_modules/@restart/ui/cjs/DataKey.d.ts
frontend/node_modules/@restart/ui/cjs/Button.js
frontend/node_modules/@restart/ui/cjs/Button.d.ts
frontend/node_modules/@restart/ui/cjs/Anchor.js
frontend/node_modules/@restart/ui/cjs/Anchor.d.ts
frontend/node_modules/@restart/ui/Button/package.json
frontend/node_modules/@restart/ui/Anchor/package.json
frontend/node_modules/.package-lock.json
frontend/package-lock.json
frontend/node_modules/typescript/ThirdPartyNoticeText.txt
frontend/node_modules/typescript/SECURITY.md
frontend/node_modules/typescript/README.md
frontend/node_modules/typescript/package.json
frontend/node_modules/es-module-lexer/types/lexer.d.ts
frontend/node_modules/es-module-lexer/README.md
frontend/node_modules/es-module-lexer/package.json
frontend/node_modules/@restart/ui/esm/index.d.ts
frontend/node_modules/@restart/ui/esm/ImperativeTransition.js
frontend/node_modules/@restart/ui/esm/ImperativeTransition.d.ts
frontend/node_modules/@restart/ui/esm/getScrollbarWidth.js
frontend/node_modules/@restart/ui/esm/getScrollbarWidth.d.ts
frontend/node_modules/@restart/ui/esm/DropdownToggle.js
frontend/node_modules/@restart/ui/esm/DropdownToggle.d.ts
frontend/node_modules/@restart/ui/esm/DropdownMenu.js
frontend/node_modules/@restart/ui/esm/DropdownMenu.d.ts
frontend/node_modules/@restart/ui/esm/DropdownItem.js
frontend/node_modules/@restart/ui/esm/DropdownItem.d.ts
frontend/node_modules/@restart/ui/esm/DropdownContext.js
frontend/node_modules/@restart/ui/esm/DropdownContext.d.ts
frontend/node_modules/@restart/ui/esm/Dropdown.js
frontend/node_modules/@restart/ui/esm/Dropdown.d.ts
frontend/node_modules/@restart/ui/esm/DataKey.js
frontend/node_modules/@restart/ui/esm/DataKey.d.ts
frontend/node_modules/@restart/ui/esm/Button.js
frontend/node_modules/@restart/ui/esm/Button.d.ts
frontend/node_modules/@restart/ui/esm/Anchor.js
frontend/node_modules/@restart/ui/esm/Anchor.d.ts
frontend/node_modules/@restart/ui/DropdownToggle/package.json
frontend/node_modules/@restart/ui/DropdownMenu/package.json
frontend/node_modules/@restart/ui/DropdownItem/package.json
frontend/node_modules/@restart/ui/DropdownContext/package.json
frontend/node_modules/@restart/ui/Dropdown/package.json
frontend/node_modules/@restart/ui/DataKey/package.json
frontend/node_modules/@restart/ui/cjs/Waypoint.js
frontend/node_modules/@restart/ui/cjs/Waypoint.d.ts
frontend/node_modules/@restart/ui/cjs/utils.js
frontend/node_modules/@restart/ui/cjs/utils.d.ts
frontend/node_modules/@restart/ui/cjs/useWindow.js
frontend/node_modules/@restart/ui/cjs/useWindow.d.ts
frontend/node_modules/@restart/ui/cjs/useWaypoint.js
frontend/node_modules/@restart/ui/cjs/useWaypoint.d.ts
frontend/node_modules/@restart/ui/cjs/useWaitForDOMRef.js
frontend/node_modules/@restart/ui/cjs/useWaitForDOMRef.d.ts
frontend/node_modules/@restart/ui/cjs/useScrollParent.js
frontend/node_modules/@restart/ui/cjs/useScrollParent.d.ts
frontend/node_modules/@restart/ui/cjs/useRTGTransitionProps.js
frontend/node_modules/@restart/ui/cjs/useRTGTransitionProps.d.ts
frontend/node_modules/@restart/ui/cjs/useRootClose.js
frontend/node_modules/@restart/ui/cjs/useRootClose.d.ts
frontend/node_modules/@restart/ui/cjs/usePopper.js
frontend/node_modules/@restart/ui/cjs/usePopper.d.ts
frontend/node_modules/@restart/ui/cjs/useClickOutside.js
frontend/node_modules/@restart/ui/cjs/useClickOutside.d.ts
frontend/node_modules/@restart/ui/cjs/types.js
frontend/node_modules/@restart/ui/cjs/types.d.ts
frontend/node_modules/@restart/ui/cjs/Tabs.js
frontend/node_modules/@restart/ui/cjs/Tabs.d.ts
frontend/node_modules/@restart/ui/cjs/TabPanel.js
frontend/node_modules/@restart/ui/cjs/TabPanel.d.ts
frontend/node_modules/@restart/ui/cjs/TabContext.js
frontend/node_modules/@restart/ui/cjs/TabContext.d.ts
frontend/node_modules/@restart/ui/cjs/ssr.js
frontend/node_modules/@restart/ui/cjs/ssr.d.ts
frontend/node_modules/@restart/ui/cjs/SelectableContext.js
frontend/node_modules/@restart/ui/cjs/SelectableContext.d.ts
frontend/node_modules/@restart/ui/cjs/RTGTransition.js
frontend/node_modules/@restart/ui/cjs/RTGTransition.d.ts
frontend/node_modules/@restart/ui/cjs/Portal.js
frontend/node_modules/@restart/ui/cjs/Portal.d.ts
frontend/node_modules/@restart/ui/cjs/popper.js
frontend/node_modules/@restart/ui/cjs/popper.d.ts
frontend/node_modules/@restart/ui/cjs/Overlay.js
frontend/node_modules/@restart/ui/cjs/Overlay.d.ts
frontend/node_modules/@restart/ui/cjs/NoopTransition.js
frontend/node_modules/@restart/ui/cjs/NoopTransition.d.ts
frontend/node_modules/@restart/ui/cjs/NavItem.js
frontend/node_modules/@restart/ui/cjs/NavItem.d.ts
frontend/node_modules/@restart/ui/cjs/NavContext.js
frontend/node_modules/@restart/ui/cjs/NavContext.d.ts
frontend/node_modules/@restart/ui/cjs/Nav.js
frontend/node_modules/@restart/ui/cjs/Nav.d.ts
frontend/node_modules/@restart/ui/cjs/ModalManager.js
frontend/node_modules/@restart/ui/cjs/ModalManager.d.ts
frontend/node_modules/@restart/ui/cjs/Modal.js
frontend/node_modules/@restart/ui/cjs/Modal.d.ts
frontend/node_modules/@restart/ui/cjs/mergeOptionsWithPopperConfig.js
frontend/node_modules/@restart/ui/cjs/mergeOptionsWithPopperConfig.d.ts
frontend/node_modules/@restart/ui/cjs/index.js
frontend/node_modules/@restart/ui/cjs/index.d.ts
frontend/node_modules/@restart/ui/cjs/ImperativeTransition.js
frontend/node_modules/@restart/ui/cjs/ImperativeTransition.d.ts
frontend/node_modules/@restart/ui/cjs/getScrollbarWidth.js
frontend/node_modules/@restart/ui/cjs/getScrollbarWidth.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownToggle.js
frontend/node_modules/@restart/ui/cjs/DropdownToggle.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownMenu.js
frontend/node_modules/@restart/ui/cjs/DropdownMenu.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownItem.js
frontend/node_modules/@restart/ui/cjs/DropdownItem.d.ts
frontend/node_modules/@restart/ui/cjs/DropdownContext.js
frontend/node_modules/@restart/ui/cjs/DropdownContext.d.ts
frontend/node_modules/@restart/ui/cjs/Dropdown.js
frontend/node_modules/@restart/ui/cjs/Dropdown.d.ts
frontend/node_modules/@restart/ui/cjs/DataKey.js
frontend/node_modules/@restart/ui/cjs/DataKey.d.ts
frontend/node_modules/@restart/ui/cjs/Button.js
frontend/node_modules/@restart/ui/cjs/Button.d.ts
frontend/node_modules/@restart/ui/cjs/Anchor.js
frontend/node_modules/@restart/ui/cjs/Anchor.d.ts
frontend/node_modules/@restart/ui/Button/package.json
frontend/node_modules/@restart/ui/Anchor/package.json
frontend/node_modules/.package-lock.json
