/* Definição da animação de pulsar */
@keyframes pulsar {
    0% {
        transform: scale(1.2);
        /* Tamanho original */
    }

    50% {
        transform: scale(1.3);
        /* Aumenta um pouco o tamanho */
    }

    100% {
        transform: scale(1.2);
        /* Retorna ao tamanho original */
    }
}

.agendamentoback {
    position: relative;
    z-index: 0;
}

.agendamentoback::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 94%;
    background-image: url('../../public/images/logo.png');
    background-position: left top;
    background-size: contain;  /* Ajusta a imagem para caber no container sem distorção */
    background-repeat: no-repeat;
    background-attachment: scroll;  /* Garante que a imagem se mova com a rolagem da página */
    z-index: -1100;
    animation: pulsar 7s ease-in-out infinite;  /* Aplica a animação de pulsar */
}

/* Estilo adicional para melhorar a responsividade */
@media (max-width: 768px) {
    .agendamentoback::before {
        background-size: 300%;  /* Ajusta o tamanho da imagem para telas menores */
    }
}

@media (max-width: 480px) {
    .agendamentoback::before {
        background-size: 150%;  /* Ajusta o tamanho da imagem para telas ainda menores */
    }
}


/* Estilo adicional para melhorar a responsividade */
@media (max-width: 768px) {
    .agendamentoback {
        background-size: 300%;  /* Ajusta o tamanho da imagem para telas menores */
    }
}

@media (max-width: 480px) {
    .agendamentoback {
        background-size: 150%;  /* Ajusta o tamanho da imagem para telas ainda menores */
    }
}





@keyframes subirDescer2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes subirDescer3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes subirDescer4 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes subirDescer5 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-subir-descer2 {
    animation: subirDescer2 4.2s ease-in-out infinite;
}

.animate-subir-descer3 {
    animation: subirDescer3 4.8s ease-in-out infinite;
}

.animate-subir-descer4 {
    animation: subirDescer4 4.5s ease-in-out infinite;
}

.animate-subir-descer5 {
    animation: subirDescer4 4.9s ease-in-out infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
        /* Início da rotação */
    }

    100% {
        transform: rotate(360deg);
        /* Completa uma volta */
    }
}

/* Classe para o elemento girando */
.girar {
    animation: girar 2s linear infinite;
    /* 2 segundos, rotação constante, repetição infinita */
    position: fixed;
    bottom: 15%;
    /* Ajuste conforme necessário */
    left: 5%;
    /* Ajuste conforme necessário */
    width: 90px;
    /* Tamanho do elemento */
    height: auto;
}

@media (max-width: 800.98px) {
    .girar, 
    .row .col-md-1 img {
        display: none;
    }
}