.agendamento{
    background-color: #36ab9c;
    color: white;
}

.agendamento-header {
    border-bottom: 1px solid #f1f1f1;
  }

.agendamento-titulo {
    color: white;
  }

  .btn-pink {
    background-color: #bc155b;
    color: white;
    border-radius: 20px;
    padding: 10px 20px; /* Ajustado para maior largura */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn-pink:hover {
    background-color: #9c2456;
    font-weight: bold;
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao redor do botão */
  }
  
  .btn-pink:active {
    transform: scale(1); /* Remove a escala ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra um pouco mais suave ao clicar */
  }
  