/* Estilo para o texto do checkbox */
.custom-checkbox-label {
    color: #000; /* Cor preta para o texto */
    margin-left: 8px;
}

/* Espaçamento entre os serviços */
.servico-item {
    margin-bottom: 10px;
}

/* Estilo para o modal */
.modal-body {
    padding: 20px;
}

.btn-custom {
    background-color: #36ab9c;
    color: white; /* Para garantir boa visibilidade */
    border: none;
}

.btn-custom:hover {
    background-color: #2e9588; /* Um tom um pouco mais escuro para o efeito hover */
}
 
.btn2-custom {
    background-color: #bc155b;
    color: white; /* Para garantir boa visibilidade */
    border: none;
}

.btn2-custom:hover {
    background-color: #a3124e; /* Um tom um pouco mais escuro para o efeito hover */
}

