.custom-title {
    color: #36AB9C; /* Cor do título */
  }
  
  .custom-button {
    background-color: #36AB9C; /* Cor do botão */
    border: none;
  }
  
  .custom-button:hover {
    background-color: #2a8c7e; /* Tom mais escuro ao passar o mouse */
  }