/* Estilo para o texto do checkbox */
.custom-checkbox-label {
    color: #000; /* Cor preta para o texto */
    margin-left: 8px;
}

/* Espaçamento entre os serviços */
.servico-item {
    margin-bottom: 10px;
}

/* Estilo para o modal */
.modal-body {
    padding: 20px;
}

/* Ajuste para os campos de texto */
.form-control {
    margin-bottom: 10px;
}